html,
.container {
  margin: 0;

  box-sizing: border-box;
}

/* *, *::before, *::after { box-sizing: inherit; }
input, textarea, select, button {
  font: inherit;

  font-family: inherit;
}

*/

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  margin: 0 auto;
  width: 1200px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;

  border: 1px solid #cccccc;
  box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0, 0, 0, 0);

  white-space: nowrap;
}

a {
  text-decoration: none;
}

.btn {
  font-family: inherit;
  text-transform: inherit;
  border: none;

  cursor: pointer;
}

.main-navigation {
  position: relative;
}

.main-header-logo {
  position: absolute;
  top: 0;
  left: 45%;
}

.site-list {
  display: flex;
  justify-content: space-between;

  margin-top: 0;
  margin-bottom: 0;
  padding: 14px 72px;

  list-style: none;
}

.site-list li:nth-child(1),
.site-list li:nth-child(2) {
  text-align: left;
}

.site-list li:nth-child(2) {
  margin-right: 50px;
}

.site-list li:nth-child(3),
.site-list li:nth-child(4) {
  text-align: right;
}

.site-list li:nth-child(3) {
  margin-left: 50px;
}

.site-list a {
  color: #000000;
  font-weight: bold;
}

.site-list a:hover {
  color: #81b3d2;
}

.site-list a:focus {
  color: rgba(0, 0, 0, 0.3);
}

.site-list .active {
  color: #766357;
}

.intro-invite,
.filters {
  background-color: #87b3d0;
}

.intro-invite {
  background-image: url("../img/bg-index.jpg");
  background-repeat: no-repeat;
  background-position: top center;
}

.intro-invite-text {
  padding-top: 76px;
  padding-bottom: 70px;
}

.intro-description-slogan {
  padding-top: 61px;
  padding-left: 380px;
  padding-right: 380px;

  font-size: 21px;
  line-height: 26px;
}

.intro-description-reasons {
  margin-bottom: 56px;

  color: #333333;
}

.filters {
  background-image: url("../img/bg-filter.jpg");
  background-repeat: no-repeat;
  background-position: 20% 65%;

  color: #ffffff;
  text-align: left;
}

.filter-seach-infrastructure-list,
.filter-seach-habitation-list {
  list-style: none;
}

.filter-seach {
  display: flex;
  justify-content: space-around;

  font-size: 14px;
  line-height: 21px;
}

.filter-seach legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
}

.filter-seach fieldset {
  margin-top: 31px;

  border: none;
}

.filter-seach-submit {
  margin-top: 50px;
}

.filter-seach-send-btn {
  padding: 10px 34px;

  font-size: 14px;
  line-height: 21px;

  color: #ffffff;
  background-color: transparent;
  border: 1px solid #ffffff;
}

.filter-seach-send-btn:hover {
  color: #000000;
  background-color: #ffffff;
}

.advantage-list {
  display: flex;
  flex-wrap: wrap;

  padding-left: 0;

  list-style: none;
}

.advantage-list li:nth-child(6) {
  order: -1;
}

.advantage-list li:nth-child(1) {
  order: -2;
}

.advantages-item {
  font-size: 14px;
  line-height: 21px;
}

.real-town,
.devil-bridge {
  display: flex;
}

.devil-bridge {
  flex-direction: row-reverse;
}

.advantages-item-city,
.advantages-item-bridge {
  width: auto;

  color: #ffffff;
  background-color: #81b3d2;
}

.advantages-item h3 {
  font-size: 21px;
  line-height: 21px;
}

.more-advantages {
  display: flex;
  justify-content: space-between;

  list-style: none;
}

.more-advantages h3 {
  padding-top: 164px;
}

.more-advantages p {
  padding-bottom: 85px;
}

.seach-results-quantity {
  display: flex;
  align-items: center;

  padding-top: 31px;
  padding-bottom: 33px;
  padding-left: 72px;

  font-size: 12px;
  line-height: 18px;
  text-align: left;
  border-bottom: 1px solid #e5e5e5;
}

.seach-results-report {
  margin-right: 49px;

  font-size: 21px;
  line-height: 26px;
}

.seach-results-sorting {
  margin-right: 40px;
}

.seach-results-quantity a {
  margin-right: 33px;

  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
}

.seach-results-quantity .seach-results-sorting-rating {
  margin-right: 0;
}

.seach-results-quantity a:hover {
  color: #81b3d2;
}

.seach-results-quantity a:focus {
  color: #000000;
  border-bottom: none;
}

.seach-results-quantity .active {
  color: #81b3d2;
  border-bottom: none;

  cursor: auto;
}

.seach-results-demonstration {
  font-size: 14px;
  line-height: 21px;
  text-align: left;
}

.seach-results-demonstration-hotel,
.seach-results-demonstration-motel,
.seach-results-demonstration-apartments {
  display: flex;
  justify-content: space-between;

  padding-top: 31px;
  padding-bottom: 33px;
  padding-left: 72px;

  border-bottom: 1px solid #e5e5e5;
}

.seach-results-booking {
  display: flex;
}

.seach-results-booking img {
  margin-right: 30px;
}

.seach-results-demonstration h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.seach-results-information p {
  margin-top: 3px;
  margin-bottom: 5px;
}

.seach-results-demonstration a {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.seach-results-demonstration a:hover {
  color: #81b3d2;
}

.seach-results-demonstration a:focus {
  color: rgba(0, 0, 0, 0.3);
}

.seach-results-demonstration-hotel-price {
  margin-left: 39px;
}

.seach-results-demonstration-motel-price {
  margin-left: 64px;
}

.seach-results-demonstration-apartments-price {
  margin-left: 21px;
}

.seach-results-demonstration-more,
.seach-results-demonstration-booking {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}

.seach-results-demonstration-more {
  margin-right: 6px;
  padding: 7px 17px;

  background-color: #81b3d2;
}

.seach-results-demonstration-more:hover {
  background-color: #669ec0;
}

.seach-results-demonstration-more:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.seach-results-demonstration-booking {
  padding: 7px 16px;

  background-color: #766357;
}

.seach-results-demonstration-booking:hover {
  background-color: #604e43;
}

.seach-results-demonstration-booking:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.seach-results-demonstration-rating {
  align-self: flex-end;
  margin-bottom: 0;
  margin-right: 73px;
  width: 110px;

  color: #666666;
  text-align: center;
  background-color: #f2f2f2;
}

.search-booking-interested {
  font-size: 30px;
  line-height: 36px;
}

.search-booking-trip-date {
  font-size: 14px;
  line-height: 24px;
  color: #333333;
}

.search-booking-btn {
  padding: 35px 139px 33px 140px;

  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #ffffff;
  background-color: #766357;
}

.search-booking-btn:hover {
  background-color: #604e43;
}

.search-booking-btn:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 15px;
}

.page-footer-hashtag {
  padding-left: 132px;

  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.social-buttons {
  display: flex;
  justify-content: space-between;

  list-style: none;
}

.social-button {
  margin-right: 6px;
  width: 46px;
  height: 48px;
}

.social-button:nth-child(3) {
  margin-right: 0;
}

.social-button a {
  display: block;
  padding-top: 12px;
  padding-bottom: 10px;

  background-color: #81b3d2;
}

.social-button:nth-child(2) a {
  padding-bottom: 6px;
}

.social-button a:hover {
  background-color: #669ec0;
}

.social-button a:focus {
  background-color: #5496bd;
}

.social-btn path:active {
  fill: rgba(255, 255, 255, 0.3);
}

.copyright {
  display: flex;
  padding-right: 101px;
}

.copyright-link {
  margin-left: 8px;
}


.copyright-link path:hover {
  fill: #81b3d2;
}

.copyright-link path:active {
  fill: #bdbbbc;
}

.modal-submit-btn {
  padding: 17px 197px 22px 196px;

  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #ffffff;
  background-color: #81b3d2;
}

.modal-submit-btn:hover {
  background-color: #669ec0;
}

.modal-submit-btn:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

  /*div, section, article, a, ul, li, p, footer, header, img {
  outline: 1px solid red;
  }*/
