html,
body {
  margin: 0;

  box-sizing: border-box;
}

/* *, *::before, *::after { box-sizing: inherit; }
input, textarea, select, button {
  font: inherit;

  font-family: inherit;
}

*/

*,
*::before,
*::after {
  box-sizing: inherit;

  font-family: inherit;
}

body {
  margin: 0 auto;
  width: 1200px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;

  border: 1px solid #cccccc;
  box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
}

.container {
  position: relative;

  margin: 0 auto;
  width: 1200px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.btn {
  font-family: inherit;
  text-transform: inherit;
  border: none;

  cursor: pointer;
}

.main-navigation {
  position: relative;
}

.site-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin-top: 0;
  margin-bottom: 0;
  padding: 14px 72px;

  list-style: none;
}

.site-list li:nth-child(1),
.site-list li:nth-child(2) {
  text-align: left;
}

.site-list li:nth-child(2) {
  margin-right: 150px;
}

.site-list li:nth-child(3),
.site-list li:nth-child(4) {
  text-align: right;
}

.site-list li:nth-child(3) {
  margin-left: 80px;
}

.site-list a {
  color: #000000;
  font-weight: bold;
}

.site-list a:hover {
  color: #81b3d2;
}

.site-list a:focus,
.site-list a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-list .current {
  color: #766357;
}

.main-header-logo {
  position: absolute;
  top: 0;
  left: 50%;

  margin-left: -70px;
}

.intro-invite,
.filters {
  background-color: #87b3d0;
}

.intro-invite {
  background-image: url("../img/sedona-polygon.svg"), url("../img/bg-index.jpg");
  background-repeat: no-repeat;
  background-position: 0 100%, 0 30%;
}

.intro-invite-text {
  padding-top: 76px;
  padding-bottom: 70px;
}

.intro-description-slogan {
  margin-top: 0;
  margin-bottom: 27px;
  padding-top: 61px;
  padding-left: 380px;
  padding-right: 380px;

  font-size: 21px;
  line-height: 26px;
}

.intro-description-reasons {
  margin-bottom: 52px;

  color: #333333;
}

.filters {
  background-image: url("../img/bg-filter.jpg");
  background-repeat: no-repeat;
  background-position: 5% 50%;

  color: #ffffff;
  text-align: left;
}

.filter-seach {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  font-size: 14px;
  line-height: 21px;
}

.filter-seach-infrastructure,
.filter-seach-results {
  display: flex;
  flex-wrap: wrap;
}

.filter-seach-infrastructure {
  margin-left: 60px;
}

.filter-seach-results {
  flex-direction: column;

  margin-top: 31px;
  margin-right: 50px;
}

.filter-seach-infrastructure fieldset:last-child {
  margin-left: 110px;
}


.filter-seach-infrastructure ul {
  list-style: none;
}

.filter-seach fieldset {
  margin-top: 31px;

  border: none;
}

.filter-seach legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
}

.filter-option {
  margin-bottom: 30px;
}

.filter-option label {
  position: relative;

  display: block;

  cursor: pointer;
}

.filter-input + label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -40px;

  width: 23px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
}

.filter-input:checked + label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -40px;

  width: 25px;
  height: 23px;

  background-image: url("../img/checkbox-on.svg");
}

.filter-input:disabled + label {
  content: "";
  position: absolute;
  top: 0;
  left: -40px;

  width: 25px;
  height: 23px;

  background-image: url("../img/checkbox-off-disabled.svg");
}

.filter-input:checked:disabled + label {
  content: "";
  position: absolute;
  top: 0;
  left: -40px;

  width: 25px;
  height: 23px;

  background-image: url("../img/checkbox-on-disabled.svg");
}

.filter-range {
  width: 330px;

  color: #ffffff;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;

  width: 314px;
  height: 36px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  padding-top: 4px;

  font-size: 14px;
  line-height: 21px;
  vertical-align: middle;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 155px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  width: 315px;
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 85%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 20px;
  height: 23px;

  background-image: url("../img/filter-button.svg");
  cursor: pointer;
}

.range-toggle:hover {
  width: 22px;
  height: 24px;

  background-image: url("../img/filter-button-hover.svg");
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.filter-seach-send {
  margin-left: 100px;
}

.filter-seach-send-btn {
  padding: 7px 34px;

  font-size: 14px;
  line-height: 21px;

  color: #ffffff;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.filter-seach-send-btn:hover {
  color: #000000;
  background-color: #ffffff;
}

.reasons-list {
  display: flex;
  flex-wrap: wrap;

  margin-bottom: 0;
  padding-left: 0;

  list-style: none;
}

.reasons-list li:nth-child(6) {
  order: -1;
}

.reasons-list li:nth-child(1) {
  order: -2;
}

.reasons-item {
  font-size: 14px;
  line-height: 21px;
}

.real-town,
.devil-bridge {
  display: flex;
}

.devil-bridge {
  flex-direction: row-reverse;
}

.item-city,
.item-bridge {
  width: 400px;;

  color: #ffffff;
  background-color: #81b3d2;
}

.item-city {
  padding-right: 7px;
}

.item-city h2 {
  margin-top: 46px;
  margin-bottom: 23px;
  margin-left: 140px;
  margin-right: 130px;
  padding-bottom: 1px;
}

.item-city .reasons-number {
  margin-left: 5px;
}

.item-city p {
  margin-top: 25px;
  margin-bottom: 55px;
  margin-left: 60px;
  padding-bottom: 1px;
  max-width: 280px;
}

.item-bridge h2 {
  margin-top: 46px;
  margin-bottom: 23px;
  margin-left: 110px;
  margin-right: 110px;
  padding-bottom: 1px;
}

.item-bridge p {
  margin-top: 20px;
  margin-bottom: 55px;
  margin-left: 48px;
  padding-bottom: 1px;
  max-width: 303px;
}

.reasons-item h2,
.reasons-item h3 {
  font-size: 21px;
  line-height: 21px;
}

.sights,
.beautiful-road,
.few-tourists {
  margin-bottom: 50px;

  width: 33.3%;

  background-color: #eeeeee;
}

.few-tourists {
  width: 33.4%;
}

.sights h3,
.beautiful-road h3,
.few-tourists h3 {
  margin-top: 50px;
  margin-left: 139px;
  padding-bottom: 1px;

  max-width: 125px;
}

.sights p,
.beautiful-road p,
.few-tourists p {
  margin-top: 23px;
  margin-left: 65px;
  padding-bottom: 48px;

  max-width: 270px;
}

.more-reasons {
  display: flex;
  justify-content: space-between;

  padding-left: 0;

  list-style: none;
}

.more-reasons li {
  padding-left: 45px;
  padding-right: 45px;
}

.more-reasons li:nth-child(2) {
  padding-left: 30px;
  padding-right: 45px;
}

.more-reasons h3 {
  margin-top: 80px;
  margin-right: 5px;
  position: relative;

  padding-top: 80px;
}

.more-reasons .reasons-habitation::before {
  content: "";

  position: absolute;
  top: -20px;
  left: 120px;

  width: 75px;
  height: 72px;

  background-image: url("../img/icon-habitation.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.more-reasons .reasons-food::before {
  content: "";

  position: absolute;
  top: -20px;
  left: 125px;

  width: 74px;
  height: 70px;

  background-image: url("../img/icon-food.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.more-reasons .reasons-gift::before {
  content: "";

  position: absolute;
  top: -20px;
  left: 105px;

  width: 64px;
  height: 76px;

  background-image: url("../img/icon-gift.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.more-reasons p {
  margin-top: 18px;
  margin-right: 3px;
  padding-bottom: 70px;
}

.seach-results {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;

  padding-top: 31px;
  padding-bottom: 33px;
  padding-left: 72px;

  font-size: 12px;
  line-height: 18px;
  text-align: left;
  border-bottom: 1px solid #e5e5e5;
}

.seach-results-found {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.seach-results-report {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 49px;

  font-size: 21px;
  line-height: 26px;
}

.seach-results-sorting {
  margin-right: 40px;
}

.seach-results-found a {
  margin-right: 33px;

  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
}

.seach-results-sorting-rating {
  margin-right: 0;
}

.seach-results-found a:hover {
  color: #81b3d2;
}

.seach-results-found a:focus,
.seach-results-found a:active {
  color: #000000;
  border-bottom: none;
}

.seach-results-found .active {
  color: #81b3d2;
  border-bottom: none;

  cursor: auto;
}

.seach-results-move {
  margin-right: 73px;
}

.seach-results-move a:hover path {
  fill: #231f20;
}

.seach-results-move a:focus path,
.seach-results-move a:active path {
  fill: #81b3d2;
}

.seach-results-move .current path {
  fill: #81b3d2;
}

.seach-results-demonstration {
  font-size: 14px;
  line-height: 21px;
  text-align: left;
}

.seach-results-demonstration-hotel,
.seach-results-demonstration-motel,
.seach-results-demonstration-apartments {
  display: flex;
  justify-content: space-between;

  padding: 31px 73px 33px 72px;

  border-bottom: 1px solid #e5e5e5;
}

.seach-results-booking {
  display: flex;
}

.seach-results-booking img {
  margin-right: 30px;
}

.seach-results-demonstration h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.seach-results-information p {
  margin-top: 3px;
  margin-bottom: 5px;
}

.seach-results-demonstration a {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.seach-results-demonstration a:hover {
  color: #81b3d2;
}

.seach-results-demonstration a:focus {
  color: rgba(0, 0, 0, 0.3);
}

.seach-results-demonstration-hotel-price {
  margin-left: 39px;
}

.seach-results-demonstration-motel-price {
  margin-left: 64px;
}

.seach-results-demonstration-apartments-price {
  margin-left: 21px;
}

.seach-results-demonstration-more,
.seach-results-demonstration-booking {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}

.seach-results-demonstration-more {
  margin-right: 6px;
  padding: 7px 17px;

  background-color: #81b3d2;
}

.seach-results-demonstration-more:hover {
  background-color: #669ec0;
}

.seach-results-demonstration-more:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.seach-results-demonstration-booking {
  padding: 7px 16px;

  background-color: #766357;
}

.seach-results-demonstration-booking:hover {
  background-color: #604e43;
}

.seach-results-demonstration-booking:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.hotel-rating,
.motel-rating,
.apartments-rating {
  display: flex;
}

.hotel-rating {
  background-image: url("../img/star.svg"), url("../img/star.svg"), url("../img/star.svg"), url("../img/star.svg");
  background-repeat: no-repeat;
  background-position:  20% 5%, 45% 5%, 70% 5%, 95% 5%;
}

.motel-rating {
  background-image: url("../img/star.svg"), url("../img/star.svg"), url("../img/star.svg");
  background-repeat: no-repeat;
  background-position:  45% 5%, 70% 5%, 95% 5%;
}

.apartments-rating {
  background-image: url("../img/star.svg"), url("../img/star.svg");
  background-repeat: no-repeat;
  background-position:  70% 5%, 95% 5%;
}

.seach-results-demonstration-rating {
  align-self: flex-end;
  margin-bottom: 0;
  width: 110px;

  color: #666666;
  text-align: center;
  background-color: #f2f2f2;
}

.search-booking-interested {
  margin-top: 2px;

  font-size: 30px;
  line-height: 36px;
}

.search-booking-trip-date {
  margin-bottom: 49px;

  font-size: 14px;
  line-height: 24px;
  color: #333333;
}

.search-booking-btn {
  position: relative;

  padding: 30px 139px 30px 140px;

  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #ffffff;
  background-color: #766357;
}

.search-booking-btn:hover {
  background-color: #604e43;
}

.search-booking-btn:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 37px;
  padding-bottom: 37px;
  width: 1200px;
}

.container .page-footer {
  position: absolute;
  bottom: 0;
  left: 0;

  background-color: rgba(255, 255, 255, 0.9);
}

.page-footer-hashtag {
  margin-bottom: 3px;
  padding-left: 132px;

  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.social-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 4px;
  margin-left: 20px;
  padding: 0;

  list-style: none;
}

.social-button {
  margin-right: 6px;
  width: 46px;
  height: 48px;
}

.social-button:nth-child(3) {
  margin-right: 0;
}

.social-button a {
  display: block;
  padding-top: 12px;
  padding-bottom: 10px;

  background-color: #81b3d2;
}

.social-button:nth-child(2) a {
  padding-bottom: 6px;
}

.social-button a:hover {
  background-color: #669ec0;
}

.social-button a:focus {
  background-color: #5496bd;
}

.social-btn:active path {
  fill: rgba(255, 255, 255, 0.3);
}

.copyright {
  display: flex;
  padding-right: 101px;
}

.copyright-link {
  margin-left: 8px;
}


.copyright-link:hover path {
  fill: #81b3d2;
}

.copyright-link:active path {
  fill: #bdbbbc;
}

.modal-booking {
  position: absolute;
  left: 50%;

  /*display: none;*/
  margin-left: -284px;
  box-sizing: inherit;

  font: inherit;
  font-weight: bold;
  text-align: left;

  background-color: #ffffff;
  box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
}

/*.modal-booking p {
  margin-left: 55px;
  margin-bottom: 45px;
}*/

.modal-booking p:nth-child(2) {
  margin-top: 50px;
}

.modal-booking p:nth-child(4) {
  margin-bottom: 0;
}

.modal-arrive-booking,
.modal-departure-booking {
  position: relative;

  margin-left: 55px;
  margin-bottom: 30px;
}

.modal-arrive-booking input[type="text"],
.modal-departure-booking input[type="text"] {
  padding-top: 14px;
  padding-bottom: 13px;
  padding-left: 13px;
  width: 346px;

  border: none;
  background-color: #f2f2f2;
}

.modal-arrive-booking input::placeholder,
.modal-departure-booking input::placeholder {
  color: #000000;
  opacity: 1;
  font-weight: bold;
}

.modal-arrive {
  margin-right: 20px;
}

.modal-departure {
  margin-right: 17px;
}

.modal-calendar-arrive,
.modal-calendar-departure {
  position: absolute;
  top: 10px;
  right: 60px;

  border: none;
  cursor: pointer;
}

.modal-calendar-arrive:hover path,
.modal-calendar-departure:hover path {
  fill: #000000;
}

.modal-calendar-arrive:focus path,
.modal-calendar-arrive:active path,
.modal-calendar-departure:focus path,
.modal-calendar-departure:active path {
  fill: #81b3d2;
}

.modal-submit-btn {
  margin: 55px;
  padding: 17px 197px 22px 196px;

  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #ffffff;
  background-color: #81b3d2;
}

.modal-submit-btn:hover {
  background-color: #669ec0;
}

.modal-submit-btn:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

  /*div, section, article, a, ul, li, p, footer, header, img {
  outline: 1px solid red;
  }*/
